In [1]:
import datetime
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipywidgets import widgets

In [11]:
IRP2019_P = pd.read_excel('2019-IRP.xlsx',sheet_name="IRP1_P").round(1)
IRP2019_P.head()

,Year,COA,NUC,GAS,PEA,HYD,WIN,CSP,SPV,DPV,BIO,DSR,PST,STO
0,2018,37625.0,1860,424.6,3405.0,2192,2086,400.0,1479.0,584,282.0,0,2912,0.0
1,2019,38671.0,1860,424.6,3405.0,2192,2086,500.0,1594.0,584,282.0,0,2912,0.0
2,2020,37457.0,1860,424.6,3405.0,2192,2226,500.0,1669.0,584,307.0,0,2912,0.0
3,2021,38038.0,1860,424.6,3405.0,2192,2762,600.0,1894.0,584,307.0,0,2912,0.0
4,2022,38014.0,1860,424.6,3405.0,2192,4362,600.0,2894.0,584,307.0,0,2912,513.0

In [12]:
IRP2019_E = pd.read_excel('2019-IRP.xlsx',sheet_name="IRP1_E").round(1)
IRP2019_E.round(1).head()

,Year,COA,NUC,GAS,PEA,HYD,WIN,CSP,SPV,DPV,BIO,DSR,PST,STO
0,2018,202872.1,13360.8,2231.7,353.4,13170.8,6512.4,1880.4,3292.9,1041.5,1915.2,0.0,1325.1,0.0
1,2019,208471.8,13360.8,2231.7,348.4,13166.2,6509.2,1892.0,3530.6,1041.5,1783.2,0.0,880.8,0.0
2,2020,212423.2,13397.4,2237.8,800.8,13204.0,7830.1,1914.8,4072.7,1044.6,1944.7,0.0,1991.5,0.0
3,2021,216953.9,13360.8,2231.7,483.2,13168.1,8612.3,1916.7,4216.9,1041.5,1931.6,0.0,1189.8,0.0
4,2022,216254.8,13360.8,2231.7,328.4,13169.3,13550.7,1921.7,5999.9,1041.5,1930.0,0.0,1147.3,409.0

In [13]:
CSIR_LC_2019_P = pd.read_excel('2019-CSIR_LC.xlsx',sheet_name="IRP1_P").round(1)
CSIR_LC_2019_P.round(2).head()

,Year,COA,NUC,GAS,PEA,HYD,WIN,CSP,SPV,DPV,BIO,DSR,PST,STO
0,2018,37625,1860,424.6,3405.0,2192,2086.0,400,1479.0,584,282.0,0,2912,0.0
1,2019,38671,1860,424.6,3405.0,2192,2086.0,500,1594.0,584,282.0,0,2912,0.0
2,2020,37457,1860,424.6,3405.0,2192,2226.0,500,1669.0,584,307.0,0,2912,0.0
3,2021,38038,1860,424.6,3405.0,2192,2762.0,500,1894.0,584,307.0,0,2912,0.0
4,2022,38014,1860,424.6,3405.0,2192,2762.0,500,1894.0,584,307.0,0,2912,0.0

In [14]:
CSIR_LC_2019_E = pd.read_excel('2019-CSIR_LC.xlsx',sheet_name="IRP1_E").round(1)
CSIR_LC_2019_E.round(1).head()

,Year,COA,NUC,GAS,PEA,HYD,WIN,CSP,SPV,DPV,BIO,DSR,PST,STO
0,2018,202281.5,13360.8,2231.7,362.1,13163.5,6516.9,1880.4,3292.9,1041.5,1907.5,0.0,1251.4,0.0
1,2019,202469.5,13360.8,2231.7,352.0,13171.1,6509.2,1892.1,3534.4,1041.5,1769.2,0.0,876.6,0.0
2,2020,197784.6,13397.4,2610.8,3646.8,13195.6,7832.4,2121.4,4070.5,1044.6,2170.5,0.0,4400.6,0.0
3,2021,197256.0,13360.8,2603.6,4589.1,13031.5,8615.0,2147.2,4216.9,1041.5,2180.2,0.0,3582.2,0.0
4,2022,191840.4,13360.8,2603.6,5965.6,13198.9,8621.7,2361.7,4216.9,1041.5,2189.1,0.0,983.2,0.0

In [26]:
IRP2019_P2 = (IRP2019_P * 0.8).round(1)
IRP2019_E2 = (IRP2019_E * 0.8).round(1)

CSIR_LC_2019_P2 = (CSIR_LC_2019_P * 0.8).round(1)
CSIR_LC_2019_E2 = (CSIR_LC_2019_E * 0.8).round(1)

In [6]:
powerlist =list(CSIR_LC_2019_E.columns) 
print(powerlist)
removelist=[powerlist[0],powerlist[11],powerlist[13]]
removelist

for i in removelist:
    print(f'remove {i}')
    powerlist.remove(i)

print("")    
print(powerlist)
print(len(powerlist))

['Year', 'COA', 'NUC', 'GAS', 'PEA', 'HYD', 'WIN', 'CSP', 'SPV', 'DPV', 'BIO', 'DSR', 'PST', 'STO']
remove Year
remove DSR
remove STO

['COA', 'NUC', 'GAS', 'PEA', 'HYD', 'WIN', 'CSP', 'SPV', 'DPV', 'BIO', 'PST']
11

In [15]:
g=(CSIR_LC_2019_E[CSIR_LC_2019_E['Year']==2018][powerlist])
h=(CSIR_LC_2019_P[CSIR_LC_2019_P['Year']==2018][powerlist])
g

,COA,NUC,GAS,PEA,HYD,WIN,CSP,SPV,DPV,BIO,PST
0,202281.5,13360.8,2231.7,362.1,13163.5,6516.9,1880.4,3292.9,1041.5,1907.5,1251.4

In [16]:
data = {'Year' : powerlist, 'Color' : np.array(g)[0]}
df = pd.DataFrame(data)
df

   Year     Color
0   COA  202281.5
1   NUC   13360.8
2   GAS    2231.7
3   PEA     362.1
4   HYD   13163.5
5   WIN    6516.9
6   CSP    1880.4
7   SPV    3292.9
8   DPV    1041.5
9   BIO    1907.5
10  PST    1251.4

In [27]:
scenariosDict = {
    'IRP2019': {"Energy produced": IRP2019_P, "Installed capacity": IRP2019_E, },
    'CSIR_LC': {"Energy produced": CSIR_LC_2019_P, "Installed capacity": CSIR_LC_2019_E, },
    'IRP2019_2': {"Energy produced": IRP2019_P2, "Installed capacity": IRP2019_E2, },
    'CSIR_LC_2': {"Energy produced": CSIR_LC_2019_P2, "Installed capacity": CSIR_LC_2019_E2, },
}

In [ ]:
columns=[{'name': 'Energy Type', 'id': 'param'},
         {'name': 'Energy produced', 'id': '0', 'type': 'numeric'},
         {'name': 'Installed capacity', 'id': '1', 'type': 'numeric'},]

In [17]:
# for key, name in result_names.items():

In [23]:



data = []
cont=0
# dictionary={}
for p in powerlist:
    dataDict = {'param':p,"Energy produced":12+cont,"Installed capacity":13+cont*2}
    cont +=1
    data.append(dataDict)
#     print(p)

In [24]:
data

[{'param': 'COA', 'Energy produced': 12, 'Installed capacity': 13},
 {'param': 'NUC', 'Energy produced': 13, 'Installed capacity': 15},
 {'param': 'GAS', 'Energy produced': 14, 'Installed capacity': 17},
 {'param': 'PEA', 'Energy produced': 15, 'Installed capacity': 19},
 {'param': 'HYD', 'Energy produced': 16, 'Installed capacity': 21},
 {'param': 'WIN', 'Energy produced': 17, 'Installed capacity': 23},
 {'param': 'CSP', 'Energy produced': 18, 'Installed capacity': 25},
 {'param': 'SPV', 'Energy produced': 19, 'Installed capacity': 27},
 {'param': 'DPV', 'Energy produced': 20, 'Installed capacity': 29},
 {'param': 'BIO', 'Energy produced': 21, 'Installed capacity': 31},
 {'param': 'PST', 'Energy produced': 22, 'Installed capacity': 33}]

In [22]:
columns

[{'name': 'Energy Type', 'id': 'param'},
 {'name': 'Energy produced', 'id': '0', 'type': 'numeric'},
 {'name': 'Installed capacity', 'id': '1', 'type': 'numeric'}]

In [28]:
CSIR_LC_2019_E[CSIR_LC_2019_E['Year']==2018]['SPV']

0    3292.9
Name: SPV, dtype: float64

In [30]:
DF_E = scenariosDict['IRP2019']["Installed capacity"]
DF_P = scenariosDict['IRP2019']["Energy produced"]

In [32]:
DF_E[DF_E['Year']==2018]['SPV']

0    3292.9
Name: SPV, dtype: float64

In [33]:
IRP2019_P = pd.read_excel('2019-IRP.xlsx', sheet_name="IRP1_P").round(1)
IRP2019_E = pd.read_excel('2019-IRP.xlsx', sheet_name="IRP1_E").round(1)

CSIR_LC_2019_P = pd.read_excel('2019-CSIR_LC.xlsx', sheet_name="IRP1_P").round(1)
CSIR_LC_2019_E = pd.read_excel('2019-CSIR_LC.xlsx', sheet_name="IRP1_E").round(1)

In [35]:
# IRP2019_P.to_csv("IRP2019_P.csv",index=False)
# IRP2019_E.to_csv("IRP2019_E.csv",index=False)
# CSIR_LC_2019_P.to_csv("CSIR_LC_2019_P.csv",index=False)
# CSIR_LC_2019_E.to_csv("CSIR_LC_2019_E.csv",index=False)